In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
df = pd.read_csv("../Data_Analysis/df_nnz.csv")

In [3]:
df

,Km,Vmax,id,activity,X,IR,pot2,ph,temp,dstr,...,TPSA2,TPSA,XLogP,MaxEStateIndex.1,MaxEStateIndex.2,MinPartialCharge.1,MaxPartialCharge.1,BCUT2D_CHGLO,polym,Complexity
0,0.0065,1.3763,1,1,2.757,1.071,-0.05,4.00,37.0,3,...,40.50,37.30,6.500000,5.992739,6.000000,-0.398299,0.037337,-1.987595,1.000007,0.0
1,0.0554,0.2643,2,1,2.757,1.071,-0.05,4.00,37.0,3,...,40.50,37.30,6.500000,5.992739,6.000000,-0.398299,0.037337,-1.987595,1.000007,0.0
2,0.0355,8.363,3,1,2.757,1.071,-0.05,4.00,37.0,3,...,52.00,37.30,6.500000,6.000000,5.992739,-0.254557,-0.254557,-1.987595,1.000007,0.0
3,0.2277,0.4382,4,1,2.757,1.071,-0.05,4.00,37.0,3,...,52.00,37.30,6.500000,6.000000,5.992739,-0.254557,-0.254557,-1.987595,1.000007,0.0
4,0.0173,1.0272,5,1,2.757,1.071,-0.05,4.00,37.0,3,...,40.50,37.30,6.500000,5.992739,6.000000,-0.398299,0.037337,-1.987595,1.000007,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,0.122,1.51E-06,1198,2,2.280,1.350,1.20,7.00,41.4,3,...,45.78,132.13,-1.700000,5.992739,0.000000,-0.398299,0.037337,-2.178395,0.999984,0.0
1126,0.027,0.000252,1199,2,2.280,1.350,1.20,3.00,33.0,1,...,40.50,375.75,-10.800000,5.992739,0.000000,-0.398299,0.037337,-2.441399,0.480347,725.0
1127,0.035,0.000177,1200,2,2.280,1.350,1.20,7.00,33.0,1,...,40.50,375.75,-10.800000,5.992739,0.000000,-0.398299,0.037337,-2.441399,0.480347,725.0
1128,0.163,4.08E-05,1201,2,1.937,0.853,0.78,4.00,42.4,1,...,45.78,30.00,-1.600000,5.992739,0.000000,-0.398299,0.037337,-2.379344,0.999951,0.0
1129,102.4,0.0022,1203,3,2.200,0.730,0.83,4.24,47.0,3,...,47.40,127.53,59.557822,0.000000,0.000000,0.000000,0.000000,-2.133673,191.458847,0.0