In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.impute import KNNImputer

In [29]:
df = pd.read_csv("../Data_Analysis/df_nnz.csv")

In [30]:
df

,Km,Vmax,id,activity,X,IR,pot2,ph,temp,dstr,...,TPSA2,TPSA,XLogP,MaxEStateIndex.1,MaxEStateIndex.2,MinPartialCharge.1,MaxPartialCharge.1,BCUT2D_CHGLO,polym,Complexity
0,0.0065,1.3763,1,1,2.757,1.071,-0.05,4.00,37.0,3,...,40.50,37.30,6.500000,5.992739,6.000000,-0.398299,0.037337,-1.987595,1.000007,0.0
1,0.0554,0.2643,2,1,2.757,1.071,-0.05,4.00,37.0,3,...,40.50,37.30,6.500000,5.992739,6.000000,-0.398299,0.037337,-1.987595,1.000007,0.0
2,0.0355,8.363,3,1,2.757,1.071,-0.05,4.00,37.0,3,...,52.00,37.30,6.500000,6.000000,5.992739,-0.254557,-0.254557,-1.987595,1.000007,0.0
3,0.2277,0.4382,4,1,2.757,1.071,-0.05,4.00,37.0,3,...,52.00,37.30,6.500000,6.000000,5.992739,-0.254557,-0.254557,-1.987595,1.000007,0.0
4,0.0173,1.0272,5,1,2.757,1.071,-0.05,4.00,37.0,3,...,40.50,37.30,6.500000,5.992739,6.000000,-0.398299,0.037337,-1.987595,1.000007,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,0.122,1.51E-06,1198,2,2.280,1.350,1.20,7.00,41.4,3,...,45.78,132.13,-1.700000,5.992739,0.000000,-0.398299,0.037337,-2.178395,0.999984,0.0
1126,0.027,0.000252,1199,2,2.280,1.350,1.20,3.00,33.0,1,...,40.50,375.75,-10.800000,5.992739,0.000000,-0.398299,0.037337,-2.441399,0.480347,725.0
1127,0.035,0.000177,1200,2,2.280,1.350,1.20,7.00,33.0,1,...,40.50,375.75,-10.800000,5.992739,0.000000,-0.398299,0.037337,-2.441399,0.480347,725.0
1128,0.163,4.08E-05,1201,2,1.937,0.853,0.78,4.00,42.4,1,...,45.78,30.00,-1.600000,5.992739,0.000000,-0.398299,0.037337,-2.379344,0.999951,0.0
1129,102.4,0.0022,1203,3,2.200,0.730,0.83,4.24,47.0,3,...,47.40,127.53,59.557822,0.000000,0.000000,0.000000,0.000000,-2.133673,191.458847,0.0

Смотрим процентное содержание в каждом столбце пустых ячеек

In [31]:
df_nan = df.isna().mean().sort_values(ascending = False)

In [32]:
df_nan.head()

ph             0.002655
Complexity     0.000885
temp           0.000885
Complexity1    0.000000
BalabanJ       0.000000
dtype: float64

Пустые ячейки у столбцов ph, Complexity, temp

In [33]:
selected_column = 'ph'

In [34]:
imputer = KNNImputer(n_neighbors=2)

In [35]:
df[selected_column] = imputer.fit_transform(df[[selected_column]])

In [36]:
df_nan = df.isna().mean().sort_values(ascending = False)

In [37]:
df_nan.head()

Complexity           0.000885
temp                 0.000885
Complexity1          0.000000
BalabanJ             0.000000
MinAbsEStateIndex    0.000000
dtype: float64

In [38]:
df['temp'].fillna(25, inplace=True)

Нахожу и удаляю дубликаты

In [39]:
df[df.duplicated ()]
df.shape

(1130, 48)

В связи с тем, что в наборе данных уже есть нормализованные данные по определенным параметрам (поэтому удаляем столбцы Cconst, Ccat, Cmin, Cmax). Также избавляемся от id - неинформативный парметр.

In [40]:
columns_to_drop = ['Cmin', 'Cmax','Cconst','Ccat','id']
df = df.drop(columns=columns_to_drop)

In [41]:
df.shape

(1130, 43)

In [42]:
df.describe()

,activity,X,IR,pot2,ph,temp,dstr,cryst,lgCmin,lgCmax,...,TPSA2,TPSA,XLogP,MaxEStateIndex.1,MaxEStateIndex.2,MinPartialCharge.1,MaxPartialCharge.1,BCUT2D_CHGLO,polym,Complexity
count,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,...,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1129.000000
mean,1.196460,2.534245,1.207714,0.281508,4.524960,33.207611,2.706195,5.986726,-1.269920,0.537916,...,48.386018,69.493009,15.991530,6.150482,5.093855,-0.342916,-0.073697,-1.006071,228.727654,108.821966
std,0.461432,0.269380,0.177605,0.574024,1.198309,9.369744,0.653706,1.659906,1.416729,1.219859,...,37.270129,149.463032,36.464882,1.324786,2.371860,0.106835,0.169368,1.041235,1299.023561,533.790509
min,1.000000,1.830000,0.700000,-1.358000,2.000000,15.000000,1.000000,0.000000,-4.000000,-4.000000,...,40.500000,0.000000,-21.400000,0.000000,0.000000,-0.870233,-0.254557,-2.590745,0.000000,0.000000
25%,1.000000,2.280000,1.084800,-0.089000,4.000000,25.000000,3.000000,5.850000,-2.301030,-0.221849,...,40.500000,0.000000,0.000000,5.992739,5.992739,-0.398299,-0.254557,-2.048433,0.000000,0.000000
50%,1.000000,2.613900,1.220500,0.066950,4.000000,31.200000,3.000000,7.000000,-1.301030,0.204120,...,40.500000,20.310000,0.000000,5.992739,5.992739,-0.398299,0.037337,0.000000,0.744146,0.000000
75%,1.000000,2.750000,1.320000,0.671800,4.500000,40.000000,3.000000,7.000000,-0.301030,1.397940,...,52.000000,88.690000,4.500000,6.000000,6.000000,-0.254557,0.037337,0.000000,1.000032,0.000000
max,4.000000,3.170000,1.710000,1.690000,10.000000,90.000000,3.000000,7.000000,2.944483,3.602060,...,883.000000,1154.410000,153.000000,12.142874,12.441528,0.000000,1.000000,0.000000,11696.537820,5020.000000

Surfaсe-параметры нормализовал логарифмированием (начинал каждый параметр анализировать отдельно, потом объединил как перевод нулевого значения, так и само логарифмирование в одну формулу)

In [43]:
# ['Mcoat', 'MolWt', 'PEOE_VSA7', 'PEOE_VSA9',
#        'Kappa2',        'EState_VSA6', 'PEOE_VSA8',
#        'EState_VSA4', 'SMR_VSA7', 'Complexity1', 'TPSA1', 'TPSA2', 'TPSA', 'MaxEStateIndex.1', 'MaxEStateIndex.2', 'polym', 'Complexity']

In [44]:
# df['Mcoat'] = df['Mcoat'].replace(0, np.nan)
# df['MolWt'] = df['MolWt'].replace(0, np.nan)
# df['PEOE_VSA7'] = df['PEOE_VSA7'].replace(0, np.nan)
# df['PEOE_VSA8'] = df['PEOE_VSA8'].replace(0, np.nan)
# df['PEOE_VSA9'] = df['PEOE_VSA9'].replace(0, np.nan)
# df['Kappa2'] = df['Kappa2'].replace(0, np.nan)
# df['EState_VSA6'] = df['EState_VSA6'].replace(0, np.nan)
# df['EState_VSA4'] = df['EState_VSA4'].replace(0, np.nan)
# df['SMR_VSA7'] = df['SMR_VSA7'].replace(0, np.nan)
# df['Complexity1'] = df['Complexity1'].replace(0, np.nan)
# df['Complexity'] = df['Complexity'].replace(0, np.nan)
# df['TPSA'] = df['TPSA'].replace(0, np.nan)
# df['TPSA1'] = df['TPSA1'].replace(0, np.nan)
# df['TPSA2'] = df['TPSA2'].replace(0, np.nan)
# df['MaxEStateIndex.1'] = df['MaxEStateIndex.1'].replace(0, np.nan)
# df['MaxEStateIndex.2'] = df['MaxEStateIndex.2'].replace(0, np.nan)
columns_to_compute_log = ['Mcoat', 'MolWt', 'PEOE_VSA7', 'PEOE_VSA8', 'PEOE_VSA9', 'Kappa2', 'EState_VSA6', 'EState_VSA4', 'SMR_VSA7', 'Complexity1', 'Complexity', 'TPSA', 'TPSA1', 'TPSA2', 'MaxEStateIndex.1', 'MaxEStateIndex.2']

# Вычисление логарифма и сохранение в новых столбцах
for column in columns_to_compute_log:
    new_column_name = f'{column}_log'  # Новое имя столбца для результатов логарифма
    df[new_column_name] = np.log(df[column].replace(0, np.nan))

In [45]:
# df['Mcoat'] = np.log(df['Mcoat'])
# df['Mcoat'].value_counts()

In [46]:
df.describe()

,activity,X,IR,pot2,ph,temp,dstr,cryst,lgCmin,lgCmax,...,EState_VSA6_log,EState_VSA4_log,SMR_VSA7_log,Complexity1_log,Complexity_log,TPSA_log,TPSA1_log,TPSA2_log,MaxEStateIndex.1_log,MaxEStateIndex.2_log
count,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,...,258.000000,429.000000,369.000000,624.000000,223.000000,616.000000,1130.000000,1130.000000,1114.000000,943.000000
mean,1.196460,2.534245,1.207714,0.281508,4.524960,33.207611,2.706195,5.986726,-1.269920,0.537916,...,2.450314,2.447318,2.847571,5.381549,4.935258,4.274948,3.930946,3.834121,1.819938,1.803876
std,0.461432,0.269380,0.177605,0.574024,1.198309,9.369744,0.653706,1.659906,1.416729,1.219859,...,0.400065,0.501266,0.496706,0.286659,1.713242,1.028811,0.484333,0.214188,0.134195,0.090871
min,1.000000,1.830000,0.700000,-1.358000,2.000000,15.000000,1.000000,0.000000,-4.000000,-4.000000,...,1.589217,1.500299,2.313952,2.517696,2.302585,1.868721,3.701302,3.701302,1.654237,1.654237
25%,1.000000,2.280000,1.084800,-0.089000,4.000000,25.000000,3.000000,5.850000,-2.301030,-0.221849,...,2.406933,1.961474,2.547795,5.420535,3.998159,3.491647,3.701302,3.701302,1.790549,1.790549
50%,1.000000,2.613900,1.220500,0.066950,4.000000,31.200000,3.000000,7.000000,-1.301030,0.204120,...,2.406933,2.562298,2.547795,5.420535,4.890349,4.196901,3.951244,3.701302,1.790549,1.791759
75%,1.000000,2.750000,1.320000,0.671800,4.500000,40.000000,3.000000,7.000000,-0.301030,1.397940,...,2.406933,2.562298,3.190362,5.420535,5.896262,4.883786,3.951244,3.951244,1.791759,1.791759
max,4.000000,3.170000,1.710000,1.690000,10.000000,90.000000,3.000000,7.000000,2.944483,3.602060,...,4.756298,4.433535,5.175934,6.190315,8.521185,7.051345,6.783325,6.783325,2.496743,2.521040

Тут я удаляю столбцы, оставляя только столбцы с их логорифмами

In [47]:
df.drop(columns=columns_to_compute_log, inplace=True)

In [48]:
df.describe()

,activity,X,IR,pot2,ph,temp,dstr,cryst,lgCmin,lgCmax,...,EState_VSA6_log,EState_VSA4_log,SMR_VSA7_log,Complexity1_log,Complexity_log,TPSA_log,TPSA1_log,TPSA2_log,MaxEStateIndex.1_log,MaxEStateIndex.2_log
count,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,1130.000000,...,258.000000,429.000000,369.000000,624.000000,223.000000,616.000000,1130.000000,1130.000000,1114.000000,943.000000
mean,1.196460,2.534245,1.207714,0.281508,4.524960,33.207611,2.706195,5.986726,-1.269920,0.537916,...,2.450314,2.447318,2.847571,5.381549,4.935258,4.274948,3.930946,3.834121,1.819938,1.803876
std,0.461432,0.269380,0.177605,0.574024,1.198309,9.369744,0.653706,1.659906,1.416729,1.219859,...,0.400065,0.501266,0.496706,0.286659,1.713242,1.028811,0.484333,0.214188,0.134195,0.090871
min,1.000000,1.830000,0.700000,-1.358000,2.000000,15.000000,1.000000,0.000000,-4.000000,-4.000000,...,1.589217,1.500299,2.313952,2.517696,2.302585,1.868721,3.701302,3.701302,1.654237,1.654237
25%,1.000000,2.280000,1.084800,-0.089000,4.000000,25.000000,3.000000,5.850000,-2.301030,-0.221849,...,2.406933,1.961474,2.547795,5.420535,3.998159,3.491647,3.701302,3.701302,1.790549,1.790549
50%,1.000000,2.613900,1.220500,0.066950,4.000000,31.200000,3.000000,7.000000,-1.301030,0.204120,...,2.406933,2.562298,2.547795,5.420535,4.890349,4.196901,3.951244,3.701302,1.790549,1.791759
75%,1.000000,2.750000,1.320000,0.671800,4.500000,40.000000,3.000000,7.000000,-0.301030,1.397940,...,2.406933,2.562298,3.190362,5.420535,5.896262,4.883786,3.951244,3.951244,1.791759,1.791759
max,4.000000,3.170000,1.710000,1.690000,10.000000,90.000000,3.000000,7.000000,2.944483,3.602060,...,4.756298,4.433535,5.175934,6.190315,8.521185,7.051345,6.783325,6.783325,2.496743,2.521040

In [49]:
df

,Km,Vmax,activity,X,IR,pot2,ph,temp,dstr,cryst,...,EState_VSA6_log,EState_VSA4_log,SMR_VSA7_log,Complexity1_log,Complexity_log,TPSA_log,TPSA1_log,TPSA2_log,MaxEStateIndex.1_log,MaxEStateIndex.2_log
0,0.0065,1.3763,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,NaN,2.552693,2.497497,5.420535,NaN,3.618993,3.951244,3.701302,1.790549,1.791759
1,0.0554,0.2643,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,NaN,2.552693,2.497497,5.420535,NaN,3.618993,3.951244,3.701302,1.790549,1.791759
2,0.0355,8.363,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,NaN,2.552693,2.497497,NaN,NaN,3.618993,3.701302,3.951244,1.791759,1.790549
3,0.2277,0.4382,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,NaN,2.552693,2.497497,NaN,NaN,3.618993,3.701302,3.951244,1.791759,1.790549
4,0.0173,1.0272,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,NaN,2.552693,2.497497,5.420535,NaN,3.618993,3.951244,3.701302,1.790549,1.791759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,0.122,1.51E-06,2,2.280,1.350,1.20,7.00,41.4,3,6.8,...,NaN,NaN,NaN,5.420535,NaN,4.883786,3.951244,3.823847,1.790549,NaN
1126,0.027,0.000252,2,2.280,1.350,1.20,3.00,33.0,1,6.8,...,3.189054,3.402360,4.785979,5.420535,6.586172,5.928924,3.951244,3.701302,1.790549,NaN
1127,0.035,0.000177,2,2.280,1.350,1.20,7.00,33.0,1,6.8,...,3.189054,3.402360,4.785979,5.420535,6.586172,5.928924,3.951244,3.701302,1.790549,NaN
1128,0.163,4.08E-05,2,1.937,0.853,0.78,4.00,42.4,1,6.8,...,NaN,NaN,NaN,5.420535,NaN,3.401197,3.951244,3.823847,1.790549,NaN
1129,102.4,0.0022,3,2.200,0.730,0.83,4.24,47.0,3,7.0,...,2.406933,2.562298,3.190362,5.197391,NaN,4.848352,3.906005,3.858622,NaN,NaN

In [50]:
df = df.fillna(0)

In [51]:
df

,Km,Vmax,activity,X,IR,pot2,ph,temp,dstr,cryst,...,EState_VSA6_log,EState_VSA4_log,SMR_VSA7_log,Complexity1_log,Complexity_log,TPSA_log,TPSA1_log,TPSA2_log,MaxEStateIndex.1_log,MaxEStateIndex.2_log
0,0.0065,1.3763,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,0.000000,2.552693,2.497497,5.420535,0.000000,3.618993,3.951244,3.701302,1.790549,1.791759
1,0.0554,0.2643,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,0.000000,2.552693,2.497497,5.420535,0.000000,3.618993,3.951244,3.701302,1.790549,1.791759
2,0.0355,8.363,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,0.000000,2.552693,2.497497,0.000000,0.000000,3.618993,3.701302,3.951244,1.791759,1.790549
3,0.2277,0.4382,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,0.000000,2.552693,2.497497,0.000000,0.000000,3.618993,3.701302,3.951244,1.791759,1.790549
4,0.0173,1.0272,1,2.757,1.071,-0.05,4.00,37.0,3,7.0,...,0.000000,2.552693,2.497497,5.420535,0.000000,3.618993,3.951244,3.701302,1.790549,1.791759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,0.122,1.51E-06,2,2.280,1.350,1.20,7.00,41.4,3,6.8,...,0.000000,0.000000,0.000000,5.420535,0.000000,4.883786,3.951244,3.823847,1.790549,0.000000
1126,0.027,0.000252,2,2.280,1.350,1.20,3.00,33.0,1,6.8,...,3.189054,3.402360,4.785979,5.420535,6.586172,5.928924,3.951244,3.701302,1.790549,0.000000
1127,0.035,0.000177,2,2.280,1.350,1.20,7.00,33.0,1,6.8,...,3.189054,3.402360,4.785979,5.420535,6.586172,5.928924,3.951244,3.701302,1.790549,0.000000
1128,0.163,4.08E-05,2,1.937,0.853,0.78,4.00,42.4,1,6.8,...,0.000000,0.000000,0.000000,5.420535,0.000000,3.401197,3.951244,3.823847,1.790549,0.000000
1129,102.4,0.0022,3,2.200,0.730,0.83,4.24,47.0,3,7.0,...,2.406933,2.562298,3.190362,5.197391,0.000000,4.848352,3.906005,3.858622,0.000000,0.000000

In [52]:
df.to_csv('df_nnz_v1.csv', index=False)
df = pd.read_csv("../Data_Preprocessing/df_nnz_v1.csv")
df.to_csv('df_nnz_Km.csv', index=False)
df.to_csv('df_nnz_Vmax.csv', index=False)